
body{
    font-family:Arial;
}


img {
    vertical-align: middle;
}


.text {
    color: #f2f2f2;
    font-size: 15px;
    padding: 8px 12px;
    position: absolute;
    bottom: 8px;
    width: 100%;
    text-align: center;
}

/* Number text (1/3 etc) */
.numbertext {
    color: #f2f2f2;
    font-size: 12px;
    padding: 8px 12px;
    position: absolute;
    top: 0;
}



/* On smaller screens, decrease text size */
@media only screen and (max-width: 300px) {
    .prev, .next, .text {
        font-size: 11px
    }
}
#tableheader {
    width: 100%;
    padding: 3px;
    background-color: #FED101;
    height:30px;
}
input[type=text] {
    width: 40%;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
    background-color: white;
    background-position: 10px 10px;
    padding: 12px 20px 12px 15px;
    margin: 0 auto;
    
}
input[type=button] {
    border-radius: 4px;
    font-size: 16px;
    background-color: black;
    padding: 12px;
    margin-left: 7px;
    color: white;
    
}
#logo {
    float: left;
    margin-left: 20px;
}
#cart {
    width:35px;
    

}
a {
    text-decoration: none
}

#slgio {
    top: -10px;
    right: -10px;
    padding: 3px 6px;
    border-radius: 50%;
    background-color: white;
    color: red;
}

#cart:hover {
    padding: 5px;
    border-radius: 50%;
    background-color: white;
    cursor: pointer;
}

#container {
    width: 100%;
    height: 50px;
    background-color: black;
    font-size: 16px;
    color: white;
    padding:3px
    ;
    
    
}
    #container ul {
        
        width: 70%;
        margin-left: 15%;        
        list-style: none;
        align-self:center;
    }

        #container ul li {                       
            display:inline-block;            
            margin-top:-8px;
        }
    #container ul li a {
        display: block;
        color: white;
        font-weight: bold;
        text-align:center;
        
        padding: 5px 50px
    }


    #container li a:hover {
        background-color: #FED101;
        color: white;
    }
    #container li a:visited {
        background-color: #FED101;
        color: white;
    }
    
#container li:hover ul {
        display: block;
}


